//*********************************SMALL(MAX 640PX)**************************************************

.button{
  border: none;
  padding: 0;
  cursor: pointer;

  &:disabled{
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.delete-button {
  background-color: rgba(226, 160, 160, 0.89);
}

.edit-button {
  background-color: rgba(0, 0, 0, 0.048);

}

.employee-row{
  align-items: center;
}

.employee-icon-box,
.employee-icon {
  height: 40px;
  width: 40px;
}

.employee-man-button {
  height: 15px;
  width: 19px;
}

.employee-details {
  flex-grow: 1;
}

.list-padding {
  padding: 10px;
}

//*********************************MEDIUM(MAX 1024)**************************************************

@media(min-width:640px) {

  .employee-icon-box,
  .employee-icon {
    height: 50px;
    width: 50px;
  }

  .employee-man-button {
    height: 40px;
    width: 60px;
  }
}

//*********************************LARGE(MIN 1024)**************************************************


@media(min-width:1024px) {

  .employee-icon-box,
  .employee-icon {
    height: 100px;
    width: 100px;
  }

  .employee-man-button {
    height: 50px;
    width: 60px;

  }

}
