  <div class="d-flex list-padding flex-container display-row employee-row" [@fadeInOut]>
    <div class="d-flex list-box employee-icon-box">
      <img class="employee-icon" src="../../assets/images/user.png" />
    </div>
    <div class="d-flex display-column start-center center employee-details">
      <div class="subtitle-style">{{ employee.FirstName }} {{employee.SecondName}}</div>
      <div class="" [innerHTML]="employee.Details"></div>
    </div>
    <div class="d-flex center-end">
      <button class="button" (click)="DeleteEmployee()">
        <img class="delete-button employee-man-button" src="../../assets/images/delete-user.png" />
      </button>
    </div>
    <div class="d-flex center-end">
      <button class="button" [disabled]="employee.Blocked">
        <img class="edit-button employee-man-button" src="../../assets/images/edit-user.png" />
      </button>
    </div>

  </div>
