

<div class="list-padding container d-flex">
<div class="d-flex flex-container display-row">
<div class="d-flex list-box employee-icon-box">
<img class="employee-icon"src="../../assets/images/user.png">
</div>
<div class="d-flex display-column start-center center employee-details">
<div class="subtitle-style">{{employee}}</div>
<div class="">desc</div>
</div>
<!-- <div class="d-flex center-end"> -->
<div class="d-flex center-end">
  <img class=" edit-button employee-man-button" src="../../assets/images/edit-user.png">
</div>
<div class="d-flex center-end">
  <img class=" delete-button employee-man-button" src="../../assets/images/delete-user.png">
</div>
</div>
</div>
<!-- </div> -->
