.dialog-visible{
  display: initial !important;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: none;
}

.confirm-dialog-modal {
  background-color: #eee;
  position: fixed;
  top: 300px;
  left: 50%;
  width: 500px;
  background: white;
  margin-left: -250px;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
  border-radius: 5px;
  display: none;

  .confirm-dialog-title {
    padding: 10px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .confirm-dialog-content {
    margin: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;

  }

  .confirm-dialog-buttons {
    padding: 5px 10px 15px 10px;
    text-align: right;


    .button {
      padding: 7px 20px;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }

    .confirm-button {
      margin-right: 5px;
      background-color: #c82333;
      border: 1px solid #bd2130;

    }

    .dismiss-button {
      margin-left: 5px;
      background-color: #138496;
      border: 1px solid #117a8b;
    }
  }
}
