@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto-Regular.otf) format("opentype");
}

* {
  font-family: Roboto;
}

.home-container {
  width: 100%;
  height: 100%;
}

.list-box {

  -webkit-box-shadow: 0px 3px 20px -1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 3px 20px -1px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 3px 20px -1px rgba(0, 0, 0, 0.42);

}

.flex-container {

  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}

.center-center {

  align-items: center;
  justify-content: center;
}

.start-center {

  align-items: start;
  padding: 10px;
}

.center {
  justify-content: center;
}

.center-end {

  align-items: center;
  justify-content: end;
  padding: 10px;
}

.display-column {

  flex-direction: column;
  // flex-basis: 100%;
  // flex: 1;

}

.display-row {

  flex-direction: row;
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-self-stretch {
  align-self: stretch;
}

.subtitle-style {
  font-weight: 700;
}

.font-padding {
  padding: 21px !important;
}

router-outlet + * {
  width: 100%;
  display: flex;
  flex-direction: column;
}
