<div class="d-flex container flex-container home-container center-center">
  <div class="d-flex list-box  start-center display-column">
    <div class="box-title" style="align-self: center;">
      <span class="large-title">Our Company</span><br>
      <span class="medium-title">Lorem ....</span>

    </div>
    <div class="d-flex">
      <span class="medium-title font-padding subtitle-style">Employee List</span>

    </div>
    <ema-employees-list class="d-flex display-column flex-self-stretch"></ema-employees-list>
  </div>
</div>
